<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="footer" class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
				Copyright © 2026 Niwe Group. All rights reserved. NIWE ERP by <a
					href="https://dakuita.com/">Dakuita Technologies Ltd</a>.
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
				<div class="text-md-right footer-links d-none d-sm-block">
					<a href="javascript: void(0);">About</a> <a
						href="javascript: void(0);">Support</a> <a
						href="javascript: void(0);">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</div>