<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="notification">
	<!-- Page-body start -->
	<div class="page-body">
		<!-- Success Alert -->
		<div th:if="${success}"
			class="alert alert-success alert-dismissible fade show" role="alert">
			<strong th:text="${success}"> </strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<!-- Error Alert -->
		<div th:if="${error}"
			class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong th:text="${error}">An error occurred!</strong>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>