<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">
<head>
<title th:text="#{label.shelf.list}"></title>
</head>
<div layout:fragment="content">
	<!-- ============================================================== -->
	<!-- pageheader -->
	<!-- ============================================================== -->
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="page-header">
				<h2 class="pageheader-title" th:text="#{label.shelf.list}"></h2>
				<div class="page-breadcrumb">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#"
								class="breadcrumb-link"><span th:text="#{menu.sales}"></span></a></li>
							<li class="breadcrumb-item"><a href="#"
								th:href="@{/shelves/list}"> <span
									th:text="#{label.shelf.list}"></span></a></li>
							<li class="breadcrumb-item active" aria-current="page"><span
								th:text="#{label.shelf.list}"></span></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- end pageheader -->
	<!-- ============================================================== -->
	<div class="row">
		<!-- ============================================================== -->
		<!-- users table  -->
		<!-- ============================================================== -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="card">
				<div class="card-header d-flex">
					<h5 th:text="#{label.shelf.list}"></h5>
					<div class="toolbar ml-auto">
						<a href="#" th:href="@{/shelves/new}"
							class="btn btn-primary btn-sm "><span
							th:text="#{label.button.add}"></span></a>
					</div>
				</div>
				<div class="card-body">
					<div class="card-block">
						<section id="task-container">
							<ul id="task-list" th:each="list : ${lists}">
								<li class="border p-2 mb-2">
									<p class="mb-1">
										<span th:text="${list.internalCode}"></span><span
											class="pcoded-badge label label-danger"
											th:text="${list.numberOfProductsNotSynchronized}">0</span>
									</p>
									<p class="mb-2">
										<span th:text="${list.warehouse.warehouseName}"></span>
									</p>

									<div class="d-flex justify-content-between align-items-center">
										<a href="#" th:href="@{'/shelves/open/' + ${list.id}}"
											class="btn btn-success waves-effect waves-light"> <i
											class="fa fa-folder-open"></i>
										</a> <a href="#" th:href="@{'/shelves/update/' + ${list.id}}"
											class="btn btn-primary waves-effect waves-light"> <i
											class="fa fa-edit"></i>
										</a>
									</div>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- end users table  -->
		<!-- ============================================================== -->
	</div>
</div>

</html>