<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">
<head>
<title th:text="#{label.item.list}"></title>
</head>
<div layout:fragment="content">
	<!-- ============================================================== -->
	<!-- end pageheader -->
	<!-- ============================================================== -->
	<div class="row">
		<!-- ============================================================== -->
		<!-- users table  -->
		<!-- ============================================================== -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="card">
				<div class="card-header d-flex">
					<h5 th:text="#{label.item.list}"></h5>
					<div class="toolbar ml-auto">
						<form th:action="@{/items/filter}" method="get"
							class="form-inline align-items-center mr-2">
							<div class="input-group input-group-sm">
								<div class="input-group-append">
								<a th:href="@{/reconciliations/export/missing/generated}" class="btn btn-secondary btn-sm"
										th:title="#{label.button.list}"> <span>Missed Generated</span>
									</a>
									<a th:href="@{/reconciliations/export/missing/declared}" class="btn btn-success btn-sm"
										th:title="#{label.button.list}"> <span>Missed Declared</span>
									</a>
									<button type="button" class="btn btn-warning btn-sm"
										style="height: 32px; width: 32px; padding: 0;"
										data-toggle="modal" data-target="#importGeneratedModal"
										th:title="#{label.reconciliation.import.generated}">
										<i class="fa fa-upload"></i>
									</button>
									<button type="button" class="btn btn-danger btn-sm"
										style="height: 32px; width: 32px; padding: 0;"
										data-toggle="modal" data-target="#importDeclaredModal"
										th:title="#{label.reconciliation.import.declared}">
										<i class="fa fa-upload"></i>
									</button>


								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table id="itemsTable"
							class="table table-striped table-bordered first">
							<thead>
								<tr>
									<th>#</th>
									<th th:text="#{label.general.name}"></th>
									<th th:text="#{label.general.code}"></th>
									<th th:text="#{label.general.barcode}"></th>
									<th th:text="#{label.general.sale.price}"></th>
									<th th:text="#{label.general.purchase.price}"></th>
									<th th:text="#{label.button.actions}"></th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- end users table  -->
		<!-- ============================================================== -->
	</div>
	<div class="modal fade" id="importGeneratedModal" tabindex="-1"
		role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<form th:action="@{/reconciliations/upload/generated-sales}"
					method="post" enctype="multipart/form-data">
					<div class="modal-header">
						<h4 class="modal-title text-primary"
							th:text="#{label.reconciliation.import.generated}"></h4>
					</div>
					<div class="modal-body">

						<div class="mb-3">
							<label for="file" class="form-label"
								th:text="#{label.general.file}"></label> <input type="file"
								id="file" name="file" class="form-control form-control-bold"
								required accept=".xlsx" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{label.button.cancel}"></button>
						<button type="submit" class="btn btn-primary"
							th:text="#{label.button.import}"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="importDeclaredModal" tabindex="-1"
		role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<form th:action="@{/reconciliations/upload/declared-sales}"
					method="post" enctype="multipart/form-data">
					<div class="modal-header">
						<h4 class="modal-title text-primary"
							th:text="#{label.reconciliation.import.declared}"></h4>
					</div>
					<div class="modal-body">

						<div class="mb-3">
							<label for="file" class="form-label"
								th:text="#{label.general.file}"></label> <input type="file"
								id="file2" name="file2" class="form-control form-control-bold"
								required accept=".xlsx" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{label.button.cancel}"></button>
						<button type="submit" class="btn btn-primary"
							th:text="#{label.button.import}"></button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
</html>