<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">
<head>
<title th:text="#{label.warehouse.details}"></title>
</head>
<div layout:fragment="content">
	<!-- ============================================================== -->
	<!-- pageheader -->
	<!-- ============================================================== -->
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="page-header">
				<h2 class="pageheader-title" th:text="#{label.branch.details}"></h2>
				<div class="page-breadcrumb">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#"
								class="breadcrumb-link"><span th:text="#{menu.settings}"></span></a></li>
							<li class="breadcrumb-item"><a href="#"
								th:href="@{/warehouses/list}"> <span
									th:text="#{label.warehouse.list}"></span></a></li>
							<li class="breadcrumb-item active" aria-current="page"><span
								th:text="#{label.warehouse.details}"></span></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- end pageheader -->
	<!-- ============================================================== -->
	<div class="row">
		<!-- ============================================================== -->
		<!-- users table  -->
		<!-- ============================================================== -->
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="card">
				<h5 class="card-header" th:text="#{label.warehouse.details}"></h5>
				<div class="card-body">
					<form style="border-radius: 0px;" th:object="${warehouse}"
						th:action="@{/warehouses/new}" method="post">
						<input type="hidden" th:field="*{id}" />
						<div class="form-group row">
							<label class="col-2 col-sm-2 col-form-label text-sm-left"
								th:text="#{label.general.code}" for="internalCode"></label>
							<div class="col-6 col-sm-6">
								<input type="text" class="form-control is-valid"
									readonly="readonly" th:field="*{internalCode}"
									th:placeholder="#{label.general.code}" required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-sm-2 col-form-label text-sm-left"
								th:text="#{label.general.name}" for="warehouseName"></label>
							<div class="col-6 col-sm-6">
								<input type="text" class="form-control is-valid"
									th:field="*{warehouseName}"
									th:placeholder="#{label.general.name}" required>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-2 col-sm-2 col-form-label text-sm-left"
								th:text="#{label.general.branch}" for="role"></label>
							<div class="col-6 col-sm-6">
								<select class="selectpicker" th:field="*{branch}"
									required="required">
									<option value="" th:text="#{label.general.select}"></option>
									<option th:each="it : ${branches}" th:value="${it.id}"
										th:text="${it.branchName}"></option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-6 col-sm-3 col-form-label text-sm-right"></div>
							<div class="col-6 col-sm-6">
								<button type="submit" class="btn btn-rounded btn-success"
									th:text="#{label.button.save}"></button>

								<a href="#" th:href="@{/warehouses/list}"
									class="btn btn-rounded btn-danger"
									th:text="#{label.button.back}"></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- end users table  -->
		<!-- ============================================================== -->
	</div>
</div>
</html>